/* Claudia Rodríguez Fuertes UO288406*/

/*
  Paleta de colores:
    Dark blue: 004369
    Red: A51836
    Off-White: F8F8F8
    Green: E7FFCC
    Azul: B4DAF8
    Azul claro: E4F6F7
*/

/* BODY - Especificidad: 0, 0, 1 */
body {
    font-family: Arial, Helvetica, sans-serif;
    color: #004369;
    background-color: #F8F8F8;  
}

/* P - Especificidad: 0, 0, 1 */
p { 
    text-align: justify;
    font-size: 1.25em;
}

/* HEADER - Especificidad: 0, 0, 1 */
header {   
    color: #F8F8F8 ;
    background-color: #A51836; 
}

/* HEADER a- Especificidad: 0, 0, 2 */
header a {   
    /* background: heredado de header #A51836*/
    color: #F8F8F8 ;   
}

/* HEADER a:hover- Especificidad: 0, 1, 2 */
header a:hover {
    /* background: heredado de header #A51836*/
    color: #E7FFCC; 
    text-decoration: underline;    
}

/* H2 - Especificidad: 0, 0, 1 */
h2 {
    font-size: 2em;
}

/* a - Especificidad: 0, 0, 1 */
a {
    font-weight: bold;
    text-decoration: none;
}

/* section:nth-of-type(2) ul - Especificidad: 0, 1, 2 */
section:nth-of-type(2) ul {
    list-style-type: "★";
}

/* ul li - Especificidad: 0, 0, 2 */
ul li {  margin-bottom: 0.4em;}

/* ol li - Especificidad: 0, 0, 2 */
ol li { margin-bottom: 0.4em;}

/* dt - Especificidad: 0, 0, 1 */
dt { 
    font-weight: bold; 
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* dl dt - Especificidad: 0, 0, 2 */
dl dt {
    margin-bottom: 0.4em;
    margin-top: 0.4em; 
}

/* table - Especificidad: 0, 0, 1 */
table {
    border-collapse: collapse;
    margin-bottom: 1em;
}

/* table caption - Especificidad: 0, 0, 2 */
table caption {
    font-weight: bold;
    margin-bottom: 0.4em;
    text-decoration: underline;
}

/* th- Especificidad: 0, 0, 1 */
th {
    border: 0.15em solid #000000;
    /* color: heredado de body #004369*/
    background-color: #B4DAF8; 
}

/* td- Especificidad: 0, 0, 1 */
td {
    text-align: center;
    border: 0.15em solid #004369;
    /* color: heredado de body #004369*/
    background-color: #E4F6F7; 
}

/* class="active"- Especificidad: 0, 1, 0 */
.active {
    color: #000000;
    background-color: #F8F8F8;
    padding: 0.1em;
    border-radius: 0.4em;   
}

/* class="active" hover - Especificidad: 0, 2, 0 */
.active:hover {
    color: #A51836;
    /* background-color: heredado de active #F8F8F8*/ 
}

/* video - Especificidad: 0, 0, 1 */
video {
    max-width: 100%;
    height: auto;
}

/*
*   CARRUSEL
*   Especificidad: 0, 0, 4
**/
body > section > article > img{ 
    width: 100%;
    max-width: 100vh;
    height: 60vh;
    position: absolute;
    transition: all 0.5s;
    object-fit: cover;
    border-radius: 0.5em;
}

/* img - Especificidad: 0, 0, 1 */
img {
    max-width: 100%;
    height: auto;
}

/* section article - Especificidad: 0, 0, 3 */
body > section > article {
    width: 100%;
    max-width: 100vh;
    height: 70vh;
    position: relative;
    overflow: hidden; 
    border-radius: 1em;
}

/* section button - Especificidad: 0, 0, 2 */
section button {
    position: absolute;
    width: 2em;
    height: 2em;
    padding: 0.5em;
    border: none;
    border-radius: 50%;
    z-index: 10;
    cursor: pointer;
    font-size: 1em;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
}

/* button:active - Especificidad: 0, 1, 1 */
button:active {
    transform: scale(1.1);
}

/* button:nth-of-type(1) - Especificidad: 0, 1, 1 */
button:nth-of-type(1) {
    top: 45%;
    right: 2%;
}

/* button:nth-of-type(2) - Especificidad: 0, 1, 1 */
button:nth-of-type(2) {
    top: 45%;
    left: 2%;
}

/*
*   NOTICIAS
*   body > article - Especificidad: 0, 0, 2*/
body > article {
    flex: 0 0 calc(25% - 1.7em);
    text-align: center;
    color: #000000;
    background-color: #c8e2f7;
    margin: 0.8em;
    box-shadow: 0.15em 0.15em 0.15em rgba(0,0,0, 0.3);
    padding: 1em;
    border-radius: 0.5em 
}

/* body article h3:nth-of-type(2) - Especificidad: 0, 1, 3 */
body article h3:nth-of-type(2) {
    font-size: 1em;
}

/* ------------------ */
/* section svg Especificidad: 0, 0, 2 */
section svg {
    height: 80vh;
    width: 100vw;
}

/* section:nth-of-type(2) section Especificidad: 0, 1, 2 */
article section{
    margin-top: 5vh;
    top: 0;
    bottom: 0;
    width: 80vw;
    height: 80vh;
}

/* body > main > p Especificidad: 0, 0, 3 */
body > main > p{
    font-size: 1.75em;
}


/* body > main > button Especificidad: 0, 0, 3 */
body > main > button{
    font-size: 1.25em;
}

